.task {
    padding: 4px;
    border: 2px solid rgba(161, 159, 159, 0.5);
    border-radius: 3px;
    margin: 10px;
    display: flex;
    align-items: center;
    word-break: break-all; 
    background: transparent;

  }
  
  .task:hover {
    background: rgba(161, 159, 159, 0.2);
  }
  
  .list {
    list-style-type: none;
    padding: 7px;
  }
  
  .checkbox-style {
    cursor: pointer;
    margin: 0 6px;
  }

  .completed {
    text-decoration: line-through;
    background: rgba(161, 159, 159, 0.2);
  }

  .erase {
    font-size: 15px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    border: none;
    background: #ecd1f8;
    border-radius: 3px;
    margin-left: auto;

  }
  
  .erase:hover {
    background: rgb(255, 51, 0);
    border: none;
    color: white
  }
  